/******************** CSS ADD ARTICLE ***********************/
#addArticle {
	background-color: #eee;
	margin-bottom: 20px;
	border-radius: 5px;
}

.addArticlePage {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}

.articleInfos {
    margin-bottom: 25px;
}

.articleadd_line {
    width: 100%;
    margin-bottom: 25px;
}

#selectDispo {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#selectDispo .selectBox {
    display: inline-block;
    width: 30%;
    margin: 1%;
}

#selectDispo .selectBox img {
    width: 100px;
}

#articleSend {
    display: inline-block;
    width: 150px;
    margin-bottom: 25px;
    font-size: 14px;
}

@media only screen and (max-width:700px) {
    #selectDispo .selectBox {
        width: 40%;
    }
}

@media only screen and (max-width:520px) {
    #selectDispo .selectBox {
        width: 100%;
        min-width: 240px;
    }
}

/********* FORMULAIRE DYNAMIQUE EN AJAX: *********/
