#alerteEvent {
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 20px;
}

#alerteEvent .description, #alerteEvent .description:hover {
    text-decoration: none;
    color: #337DB8;
}

#pioupiou {
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#pioupiou .pioupiou-datas {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 10px;
}

#pioupiou .pioupiou-left,
#pioupiou .pioupiou-right {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 40%;
}

#pioupiou .infos-legales {
    margin-top: 25px;
}

#video {
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#video iframe {
    width: 90%;
    min-height: 400px;
    margin-bottom: 25px;
}

#video .regles {
    width: 80%;
    margin-left: 10%;
    text-align: left;
}

#carte {
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#carte .infos {
    width: 80%;
    margin-left: 10%;
    text-align: left;
    padding-bottom: 20px;
}

#carte .infos .infos2 {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-left: 1%;
    text-align: left;
}

@media only screen and (max-width:1000px) {
    #carte .infos .infos2 {
        width: 100%;
    }
}

#carte img {
    border-radius: 10px;
    width: 80%
}

.panel-heading {
    text-align: center;
}

.list-group-item {
    text-align: center;
}

.newsTitle {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.newsPic {
    display: inline-block;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/**************** EDITION DE L'URL DE LA VIDEO ******************/
.editVideo {
    display: inline-block;
    width: 100%;
}

.editVideo label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#videoURL {
    display: inline-block;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}

#videoSubmit {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background: green;
    border: solid 1px black;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

#videoSubmit:hover {
    background: darkgreen;
    color: white;
    text-decoration: none;
}

/*********************** Bilans et PDF ********************/
#bilanPDF {
    display: inline-block;
    background-color: #eee;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin: 0;
    margin-bottom: 5px;
}

#bilanPDF img.pdf-logo{
    width: 20px;
    height: 20px;
}

/************************** DIVERS ************************/
.limit30 {
    font-weight: bold;
    color: red;
}