/******************** CSS CONTACT ***********************/
#addAlerte {
	background-color: #eee;
	margin-bottom: 20px;
	border-radius: 5px;
}

.addAlertePage {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}

.alerteInfos {
    margin-bottom: 25px;
}

.alerte_line {
    width: 100%;
}

.alerte_line label {
    display: inline-block;
    width: 100%;
}

.alerte_line input#dateExp {
    display: inline-block;
    width: 200px;
    margin-bottom: 25px;
}

.alerte_line input#titreAlerte,
.alerte_line textarea#descrAlerte {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    resize: none;
}

#alerteSend {
    display: inline-block;
    width: 130px;
    margin-bottom: 25px;
    font-size: 14px;
}