/*********************** CSS BLOG **************************/
#blog{
	background-color: #eee;
	border-radius: 5px;
	margin-bottom: 20px;
}

#blog > .col-xs-12 {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}

/****************** LIENS VERS LES ALBUMS ******************/
.albumsLinks {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: solid 3px darkgrey;
}

.albumsLinks a {
    display: inline-block;
    font-weight: bold;
    color: #419641;
    padding-right: 25px;
}

@media only screen and (max-width:500px) {
    .albumsLinks a {
        display: block;
    }
}

/*************** ARTICLES SELON DISPOSITIONS ***************/

.blogArticle {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: solid 3px darkgrey;
}

.content {
    display: inline-block;
    width: 100%;
}

.picture, .galerie, .galerie-3pic, 
.galerie-3pic-inv, .galerie-2pic {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.picture img {
    width: 100%;
    border-radius: 10px;
}

.galerie-3pic .img-grande, 
.galerie-3pic-inv .img-grande {
    display: inline-block;
    width: 67%;
    text-align: center;
    vertical-align: middle;
}

.galerie-3pic .img-petite,
.galerie-3pic-inv .img-petite {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

.img-grande img, .img-petite img {
    display: inline-block;
    width: 95%;    
    padding: 1%;
    border-radius: 10px;
}

.galerie-2pic .demi {
    display: inline-block;
    width: 50%;
    padding: 1%;
    text-align: center;
    vertical-align: middle;
}

.galerie-2pic img {
    display: inline-block;
    width: 95%;
    border-radius: 10px;
}

.vertical {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.vertical img {
    display: inline-block;
    width: 95%;
    padding: 1%;
    border-radius: 10px;
}

@media only screen and (max-width:650px) {
    .galerie-3pic .img-grande, 
    .galerie-3pic-inv .img-grande,
    .galerie-3pic .img-petite,
    .galerie-3pic-inv .img-petite,
    .galerie-2pic .demi, 
    .vertical {
        width: 100%;
    }
}