/******************* CONNEXION *********************/
#connexion {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.connexionPage {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.connexionPage img {
    position: fixed; 
    z-index: -1;
    top: 0;
    left: 0;
}

.connexionWindow {
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    border-radius: 25px;
    width: 50%;
    min-width: 200px;
    margin-left: 25%;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.connexionWindow form {
    color: #C1AF99;
}

.connexionWindow form a {
    color: #BFAF58;
}

.connexionWindow form input {
    color: black;
    border-radius: 5px;
}

.connexionWindow h1 {
    margin-bottom: 25px;
}

.login, .password {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

#connexionBtn {
    margin-bottom: 50px;
    font-weight: bold;
    /*color: #BFAF58;*/
    border-radius: 5px;
    background-color: rgba(0.5,0.5,0.5,0.8);
}

.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-right: 40px;
}

.footer ul li {
    list-style-type: none;
    font-weight: bold;
}

@media only screen and (max-width:991px) {
    .footer ul li {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width:619px) {
    .login label,
    .password label {
        display: block;
        width: 100%;
    }
}