/******************** CSS EVENEMENTS ***********************/
#events{
	margin-bottom: 20px;
	border-radius: 5px;
}

#event .panel-heading{
	color: darkgreen;
	background-color: #8d8;
}

#event .badge{
	background-color: green;
	float: left;
	margin-right: 5px;
}

#alerte .panel-heading{
	color: darkred;
	background-color: #e88;
}

#alerte .badge{
	background-color: red;
	float: left;
	margin-right: 5px;
}

/******************* BTN NEW EVENT/ALERTE *******************/
#firstForm {
    padding: 0;
}

.btnNewEvent {
    background: green;
    border: solid 1px black;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.btnNewEvent:hover {
    background: darkgreen;
    color: white;
    text-decoration: none;
}

.btnNewAlerte {
    background: red;
    border: solid 1px black;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.btnNewAlerte:hover {
    background: darkred;
    color: white;
    text-decoration: none;
}


/********************** BTN SUPPRESSION *********************/
.supp_btn, .contenu {
    display: inline;
}

.supp_btn .btn {
    background-color: transparent;
    width: 15px;
    padding: 0;
}

.supp_btn .btn input[type=submit] {
    background: url('../images/icones/icone_supp.png') top right no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    border: none;
}